BITCOIND_RPC_URL=http://user:pass@bitcoind:18332
BITCOIND_ZMQ_HASHBLOCK=tcp://bitcoind:28332
BITCOIND_ZMQ_HASHTX=tcp://bitcoind:28333
PRICE_API_URL=https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd
PRICE_CACHE_SECONDS=30
TX_CONFIRMATIONS_TARGET=1
LOG_LEVEL=INFO
MEMPOOL_TIP_URL=https://mempool.space/api/blocks/tip/height
